<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block windowtitle %}{{ SITENAME }}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="author" content="{{ AUTHOR }}">

	<!-- HTML5 shim, for IE6-8 support of HTML elements -->
	<!--[if lt IE 9]>
		<script src="{{ SITEURL }}/theme/js/html5.js"></script>
	<![endif]-->

    <script src="{{ SITEURL }}/theme/js/jquery-2.1.1.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/bootstrap.min.js"></script>
    <script src="{{ SITEURL }}/theme/js/project.js"></script>

	<!-- Styles -->
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/img/icons/fav.ico" >

	<link href="{{ SITEURL }}/theme/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/local.css" rel="stylesheet">
	<link href="{{ SITEURL }}/theme/css/pygments.css" rel="stylesheet">
    <link href="{{ SITEURL }}/theme/tipuesearch/tipuesearch.css" rel="stylesheet" >

	<!-- Feeds -->
	{% if FEED_ALL_ATOM %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
	{% endif %}

	{% if FEED_ATOM %}
        <link href="{{ FEED_ATOM }}" rel="alternate" title="{{ SITENAME }}" type="application/atom+xml">
	{% endif %}

	{% if FEED_ALL_RSS %}
	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
	{% endif %}

	{% if FEED_RSS %}
        <link href="{{ FEED_RSS }}" rel="alternate" title="{{ SITENAME }}" type="application/rss+xml">
	{% endif %}

	{% include "analytics.html" %}
	{% include "disqus.html" %}
</head>
<body>
	{% include "facebook.html" %}
	{% include "github.html" %}

<div id="protect" style="text-align:center;width:100%;height:100%;z-index:1000;position:absolute;background-color:black">
        <input style="margin-top:300px" type="password" id="password"></input>
</div>

<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% for title, link in MENUITEMS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
          {% endfor %}

          {% if DISPLAY_CATEGORIES_ON_MENU %}
          {% for cat, null in categories %}
          <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
          {% endfor %}
          {% endif %}
          {% if DISPLAY_PAGES_ON_MENU %}
          {% for page in PAGES %}
          <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
          {% endif %}
      </ul>
      <form class="navbar-form navbar-left pull-right" role="search" id="searchform" action="/search" onsubmit="return (this.elements['q'].value.length > 0)">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <!--<button type="submit" class="btn btn-default">Submit</button> -->
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="wrapper">

    <div class="container content-wrapper">
        <div class="content fixed-head-top">
            {% block indextitle %}
            <!--
            <div class="page-header">
                <h1>{% block title %} {% endblock %}</h1>
            </div>
            -->
            {% endblock %}
            {% block content %}{% endblock %}
        </div>
        <div class="push"></div>
    </div><!--container-fluid-->

    {% block footer %}

    <footer class="">
        <div class="container-fluid">
            <div class="row">
               <div class="col-md-2">
               </div>
               <div class="col-md-3">
                    <h3>Site</h3>
                    <ul class="unstyled">
                        <li><a href="{{ SITEURL }}/tags.html"><i class="icon-tags"></i>&nbsp;Tags</a></li>
                        <li><a href="{{ SITEURL }}/archives.html"><i class="icon-list-alt"></i>&nbsp;Archives</a></li>
                        <li><a href="{{ SITEURL }}/all-atom.xml"><i class="icon-star-empty"></i>&nbsp;RSS</a></li>
                    </ul>
                </div>
               <div class="col-md-3">
                    <h3>Blogroll</h3>
                    <ul class="unstyled">
                        {% for name, link in LINKS %}
                        <li><a href="{{ link }}"><i class="icon-user"></i>&nbsp;{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
               <div class="social col-md-3">
                    <h3>Social</h3>
                    <ul class="unstyled">
                        {% for name, link in SOCIAL %}
                        <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
               <div class="col-md-1">
               </div>
            </div>
        </div>
        <p class="copyleft">&copy; {{ AUTHOR }} 2013-2015</p>
    </footer>
    {% endblock %}
    </div><!--wrapper-->
</body>
</html>
