{% extends "base.html" %}
{% block customcss %}
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/pygment.css">
{% endblock %}

{% block background %}
<style type="text/css">
.masthead.segment.bg:after {
    background-image: url('{{ SITEURL }}/{{ article.photo_image[1] if article.photo_image else 'background/' +  article.category.name + '.jpg'}}');
}
</style>
{% endblock %}

{% block customjs %}
<script>
$(document)
    .ready(function() {
        $('.card .dimmer')
            .dimmer({
                on: 'hover'
            })
        ;
        $('.ui.sticky')
            .sticky({
                context: '#allude',
                offset: 63,
            })
        ;
    });
</script>
{% endblock %}

{% block windowtitle %} {{ article.title }} {% endblock %}

{% block indextitle %}{% endblock %}

{% block extrahead %}
<script src="https://apis.google.com/js/plusone.js"></script>
{% endblock %}

{% block articletitle %}
<h1 class="ui inverted header">
    {{ article.title }}
</h1>
{% endblock %}

{% block content %}
<div class="ui basic segment" id="allude" style="">
  <div class="right ui rail" style="">
      <div class="ui sticky" style="">
          <div class="ui card">
              <div class="ui slide right reveal image">
                  <div class="visible content">
                      <img class="ui fluid image" src="{{ SITEURL }}/theme/img/big-avatar.jpg">
                  </div>
                  <div class="hidden content">
                      <img class="ui fluid image" src="{{ SITEURL }}/theme/img/alipay.png">
                  </div>
              </div>

              <div class="content">
                  <a href="{{ SITEURL }}/about.html" class="header">{{ article.author }}</a>
                  <div class="meta">
                      <span class="date">{{ article.date|strftime('%b %-d, %Y') }}</span>
                  </div>
              </div>
              <div class="extra content">
                  {% if article.tags %} 
                  Tags:&nbsp;
                  {% for tag in article.tags %}
                  <a href="{{ SITEURL }}/{{ tag.url }}" class="">{{ tag }}</a>,&nbsp;
                  {% endfor %}
                  {% endif %} 
              </div>
          </div>
      </div>
  </div>
  <div class="ui text container">{{ article.content }}</div>
</div>
<div class="ui hidden divider"></div>


    {% if article.photo_gallery %}
    <div class="ui basic segment">
        <h4 class="ui horizontal divider header">
            <i class="photo icon"></i>
            Gallery
        </h4>
    </div>
    <div class="ui images centered gallery">
        {% for name, photo, thumb, exif, caption in article.photo_gallery[0][1] %}
        <a class="ui image" href="{{ SITEURL }}/{{ photo }}" title="{{ name }}" exif="{{ exif }}" caption="{{ caption }}"><img src="{{ SITEURL }}/{{ thumb }}"></a>
        {% endfor %}
    </div>
    {% endif %}

<h4 class="ui horizontal divider header">
    <i class="comment icon"></i>
    留下你的评论
</h4>

<!-- google plus comment -->
<div class="ui two column centered grid" id="google-comment">
    <div id="comments" class="column">
        <div class="ui brown icon  message" style="display: none;" id="gfw">
            <i class="notched circle loading icon"></i>
            <ul class="list">
                <li>这儿本来是Google Comments</li>
                <li>EMBARRASSED about Great Fire Wall...</li>
                <li>但是不会翻墙就是你的不对了</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
