{% extends "index.html" %}

{% block background %}
<style type="text/css">
.masthead.segment.bg:after {
    background-image: url('{{ SITEURL }}/background/{{ category.name }}.jpg');
}
</style>
{% endblock %}

{% block title %}{{ SITENAME }} {{ category }} {% endblock %}

{% block articletitle %}
<h1 class="ui inverted header">
    {{ category }}
</h1>
    {% for key, value in CATEGORY_INFO.items() %}
    {% if key == category %}
    <h2>{{ value }}</h2>
    {% endif %}
    {% endfor %}
{% endblock %}
