{% extends "base.html" %}

{% block content %}

<div class="ui container">
  <div class="ui relaxed divided items">
{% if articles %}
{% for article in (articles_page.object_list if articles_page else articles) %}
    <div class="item">
      <div class="ui small image">
          <img src="{{ SITEURL }}/{{ article.photo_image[2] if article.photo_image else "theme/img/image.png" }}">
      </div>
      <div class="content">
        <a class="header" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        <div class="meta">
          {{ article.date|strftime('%b %-d, %Y') }}
          <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </div>
        <div class="description">
            {{ article.summary }}
        </div>
        <div class="extra">
          <img src="{{ SITEURL }}/theme/img/avatar.jpg" class="ui circular avatar image"> 
          <a href="{{ SITEURL }}/about.html">{{ article.author }}</a>
        </div>
      </div>
    </div>
{% endfor %}
{%endif%}
  </div>

{% if articles_page and articles_paginator.num_pages > 1 %}
<div class="ui one column centered grid">
<div class="ui buttons column">
	{% if articles_page.has_previous() %}
		{% set num = articles_page.previous_page_number() %}
        <a class="ui blue basic button" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html"><i class="left chevron icon"></i></a>
	{% else %}
    <a class="ui blue basic button disabled" href="#"><i class="left chevron icon"></i></a>
	{% endif %}
	{% for num in range( 1, 1 + articles_paginator.num_pages ) %}
    <a class="ui blue button {{ 'active' if num == articles_page.number else '' }}" href="{{ SITEURL }}/{{ page_name }}{{ num if num > 1 else '' }}.html">{{ num }}</a>
	{% endfor %}
	{% if articles_page.has_next() %}
    <a class="ui blue basic button" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html"><i class="right chevron icon"></i></a>
	{% else %}
    <a class="ui blue basic button disabled" href="#"><i class="right chevron icon"></i></a>
	{% endif %}
</div>
</div>
{% endif %}

</div>
{% endblock %}
